@import "../../styles/_variables.scss";

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 360px;
    height: 556px;
    text-align: center;
    padding: 24px;
    background-color: #fff;

    @media screen and (min-width: $tablet) {
        padding: 40px;
        width: 688px;
        height: 612px;
    }

    @media screen and (min-width: $desktop) {
        width: 1016px;
        height: 480px;
    }
}

.closeBtn {
    position: absolute;
    top: 32px;
    right: 32px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $desktop) {
        top: 60px;
        right: 60px;
    }
}

.iconBtnClose {
    position: absolute;
    bottom: 2px;
    width: 16px;
    height: 16px;
    fill: #c7c7c7;

    @media screen and (min-width: $desktop) {
        left: 10px;
        width: 24px;
        height: 24px;
    }
}

.imageWrap {
    position: relative;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px;

    @media screen and (min-width: $desktop) {
        width: 838px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.innerWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $tablet) {
        width: 407px;
    }

    @media screen and (min-width: $desktop) {
        width: 838px;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
    }
}

.input {
    position: relative;
    width: 296px;
    height: 35px;
    background-color: transparent;
    margin-bottom: 36px;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(199, 199, 199, 1);
    padding-left: 32px;

    @media screen and (min-width: $tablet) {
        width: 407px;
    }

    @media screen and (min-width: $desktop) {
        margin: 35px 0 0;
        width: 407px;
    }
}

.input[type="date"] {
    color: gray;
}

.input::-webkit-input-placeholder {
    color: $Primary600;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.input::-moz-placeholder {
    color: $Primary600;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.input:-ms-input-placeholder {
    color: $Primary600;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.input::-ms-input-placeholder {
    color: $Primary600;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.input::placeholder {
    color: $Primary600;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.inputError {
    border-bottom: 1px solid $Error;
}

.inputSuccess {
    border-bottom: 1px solid $Success;
}

.label {
    position: absolute;
    top: -15px;
    color: $Primary900;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    @media screen and (min-width: $desktop) {
        top: 15px;
        left: 5px;
    }
}

.wrapError {
    position: relative;
    width: 100%;

    @media screen and (min-width: $desktop) {
        width: 407px;
    }
}

.error {
    position: absolute;
    bottom: 15px;
    left: 140px;
    color: $Error;
    font-size: 14px;

    @media screen and (min-width: $desktop) {
        bottom: -20px;
        left: 240px;
    }
}

.icon {
    position: absolute;
    top: 7px;
    width: 20px;
    height: 20px;
    stroke: $Primary600;

    @media screen and (min-width: $desktop) {
        left: 5px;
        top: 40px;
    }
}

.iconPicker {
    bottom: 45px;

    @media screen and (min-width: $desktop) {
        bottom: 10px;
    }
}

.iconPickerRight {
    bottom: 45px;
    left: 270px;
    width: 24px;
    height: 24px;

    @media screen and (min-width: $tablet) {
        left: 370px;
    }

    @media screen and (min-width: $desktop) {
        top: 30px;
        left: 380px;
    }
}

.iconSvg:hover {
    scale: 1.2;
    fill: #ff8686;
}

.iconStatus {
    position: absolute;
    top: 5px;
    right: 14px;
    width: 24px;
    height: 24px;
    @media screen and (min-width: $desktop) {
        top: 40px;
    }
}

.iconImportant {
    position: absolute;
    top: 10px;
    right: 14px;
    width: 7px;
    height: 8px;
    @media screen and (min-width: $desktop) {
        width: 12px;
        height: 12px;
        top: 40px;
    }
}

.explainText {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: $Primary600;
    margin-bottom: 32px;

    @media screen and (min-width: $desktop) {
        position: absolute;
        bottom: -60px;
        left: 10px;
    }
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 8px 0px 8px;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;

    border-radius: 24px;
    border: 1px solid rgba(19, 17, 18, 1);
    background-color: rgba(249, 246, 248, 1);

    color: rgba(19, 17, 18, 1);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;

    @media screen and (min-width: $tablet) {
        width: 455px;
    }

    @media screen and (min-width: $desktop) {
        width: 391px;
        margin: 60px auto 0 auto;
    }
}

.activeBtn {
    background-color: rgba(51, 49, 50, 1);
    color: rgba(249, 246, 248, 1);
    cursor: pointer;
}

// styles for success content

.successContainer {
    margin-top: 156px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    // justify-content: space-around;

    @media screen and (min-width: $desktop) {
        margin-top: 113px;
        padding-bottom: 40px;
    }
}

.successWrap {
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 24px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 11px;
    }
}

.successText {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: 1.4;
    }

    @media screen and (min-width: $desktop) {
        font-size: 22px;
    }
}
