@import "@/styles/_variables.scss";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  // -webkit-box-align: start;
  // -ms-flex-align: start;
  // align-items: flex-start;
}

.rulesListTitle {
  color: #242424;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px;

    @media (min-width: 1366px) {
      margin-bottom: 20px;
    }
  }
}

.decimalListTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 25.2px;
  margin-bottom: 4px;

  @media (min-width: $tablet) {
    margin-bottom: 8px;

    @media (min-width: 1366px) {
      margin-bottom: 12px;
    }
  }
}

.decimalList {
  list-style: decimal;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    margin-bottom: 12px;

    @media (min-width: 1366px) {
      margin-bottom: 16px;
    }
  }
}

.decimalList>li {
  margin-left: 25px;
  color: #242424;
  font-size: clamp(1rem, 0.9105rem + 0.3976vw, 1.25rem);
  font-weight: 400;
  line-height: 25.6px;
}