.ItemSliderTop {
  width: 100%;
  margin-bottom: 12px;
  height: 66.6vw;
}

/* .ItemSliderTop .swiper-wrapper {
  margin-bottom: 12px;
} */

.ItemSliderTop .swiper-slide {
  width: 300px;
  height: 300px;
  height: 100%;
}

.ItemSliderTop .swiper-slide img {
  object-fit: cover;
  object-position: center;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: none;
  -o-transform: translate3d(0, 0, 0);
  transform: none;
}

.ItemSliderTop .swiper-button-prev,
.ItemSliderTop .swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  color: transparent;
  bottom: 8px;
  top: auto;
}

.ItemSliderTop .swiper-button-prev::after,
.ItemSliderTop .swiper-button-next::after {
  width: 100%;
}

.ItemSliderTop .swiper-button-prev {
  background-image: url("../../../../public/webp/schevron_left.webp");
  left: 50%;
  transform: translateX(-75px);
}

.ItemSliderTop .swiper-button-next {
  background-image: url("../../../../public/webp/schevron_right.webp");
  left: 50%;
  transform: translateX(50px);
}

.ItemSliderTop .swiper-pagination {
  bottom: 14px;
}

.ItemSliderTop .swiper-pagination-bullet {
  background-color: rgba(249, 246, 248, 1);
  width: 12px;
  height: 12px;
}

/* .ItemSliderTop .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px 1px;
} */

.ItemSliderTop .swiper-pagination-bullet-active-prev,
.ItemSliderTop .swiper-pagination-bullet-active-next,
.ItemSliderTop .swiper-pagination-bullet-active-prev-prev,
.ItemSliderTop .swiper-pagination-bullet-active-next-next {
  opacity: 1;
}

/* .ItemSliderTop .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.ItemSliderTop .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  margin: 0px -3px;
} */


@media screen and (min-width: 768px) {
  .ItemSliderTop {
    /* height: 275px; */
    height: 35.8vw;
    margin-bottom: 20px;
  }

  .ItemSliderTop .swiper-pagination {
    bottom: 40px;
  }

  .ItemSliderTop .swiper-button-prev,
  .ItemSliderTop .swiper-button-next {
    bottom: 34px;
  }

  /* .ItemSliderTop .swiper-button-prev {
    left: 28px;
  } */

  /* .ItemSliderTop .swiper-button-next {
    right: 28px;
  } */
}

/* @media screen and (min-width: 1024px) {
  .ItemSliderTop {
    height: 440px;
  }

  @media screen and (min-width: 1024px) and (orientation: portrait) {
    .ItemSliderTop {
      height: 287px;
    }
  } */

/* .ItemSliderTop .swiper-button-prev {
    left: 28px;
  }

  .ItemSliderTop .swiper-button-next {
    right: 28px;
  } */
/* } */





@media screen and (min-width: 1366px) {
  .ItemSliderTop {
    /* width: 600px;
    height: 448px; */
    height: 32.8vw;
    max-height: 630px;
    margin-bottom: 16px;
  }

  .ItemSliderTop .swiper-button-prev,
  .ItemSliderTop .swiper-button-next {
    bottom: 14px;
  }

  /* .ItemSliderTop .swiper-button-prev {
    left: 70px;
  }

  .ItemSliderTop .swiper-button-next {
    right: 70px;
  } */

  .ItemSliderTop .swiper-pagination {
    bottom: 20px;
  }

  /* .ItemSliderTop .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  } */
}

/* @media screen and (min-width: 1500px) {
  .ItemSliderTop {
    height: 480px;
  } */

/* .ItemSliderTop .swiper-button-prev,
  .ItemSliderTop .swiper-button-next {
    width: 124px;
    height: 24px;
    bottom: 48px;
  } */

/* .ItemSliderTop .swiper-button-prev {
    left: 70px;
  }

  .ItemSliderTop .swiper-button-next {
    right: 70px;
  } */

/* .ItemSliderTop .swiper-pagination {
    bottom: 48px;
  }

  .ItemSliderTop .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  } */
/* } */


/* @media screen and (min-width: 1920px) {
  .ItemSliderTop {
    /* height: 621px; */
/* max-height: 470px;
  } */

/* .ItemSliderTop .swiper-button-prev,
  .ItemSliderTop .swiper-button-next {
    width: 124px;
    height: 24px;
    bottom: 72px;
  } */
/* 
  .ItemSliderTop .swiper-button-prev {
    left: 70px;
  }

  .ItemSliderTop .swiper-button-next {
    right: 70px;
  } */

/* .ItemSliderTop .swiper-pagination {
    bottom: 72px;
  } */

/* .ItemSliderTop .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  } */
/* }  */