@import "../../../../styles/_variables.scss";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;

  @media screen and (min-width: $tablet) {
    align-items: normal;
    justify-content: normal;
  }
}

.displaySizeMessage {
  width: 90%;
  font-size: clamp(16px, 4vw, 30px);
  font-weight: 700;
  color: red;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.contentWrapper {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.apartment {
  display: none;

  @media screen and (min-width: $tablet) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: #8c878fd6;
    border-radius: 5px;
    border: 1px solid navy;
    width: calc(50% - 25px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.property {
  font-weight: 600;
}

.imgsWrapper {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.imgsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.imgCont {
  width: 200px;
  height: 100px;
  position: relative;
}

.deleteIcon {
  width: 20px;
  height: 20px;
}

.deleteIcon:hover {
  cursor: pointer;
  fill: red;
}

.address {
  display: block;
  width: 40vw;
  overflow: hidden;
  white-space: nowrap;
}

.location,
.absentBooking {
  font-weight: 400;
}

.platformLink {
  display: block;
  width: 40vw;
  overflow: hidden;
  font-weight: 400;
  white-space: nowrap;
}

.description {
  display: block;
}