@import '@/styles/_variables.scss';

.callBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 59px 40px;
  width: 138px;
  height: 138px;
  cursor: pointer;

  box-shadow: 2px 2px 8px 0 rgba(246, 246, 244, 0.25);
  background: $SecondaryColor;

  margin-bottom: 16px;

  -webkit-animation: pulse 2s infinite ease-in-out;
  animation: pulse 2s infinite ease-in-out;

  @media screen and (min-width: $tablet) {
    width: 172px;
    height: 172px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    width: 152px;
    height: 152px;
    // width: 191px;
    // height: 191px;
    margin-bottom: 24px;
  }

  & a {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: $Primary900;
    @media screen and (min-width: $desktop) {
      font-size: 20px;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 2px 2px 8px 0 rgba(246, 246, 244, 0.25);
  }
  50% {
    box-shadow: 1px 1px 10px 3px rgba(246, 246, 244, 0.4);
  }
}
